* {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.title {
    font-size: 50px;
    text-align: center;
}

.header {
  text-align: left;
}

#cheese{
  border: 5px solid rgb(255, 153, 0);
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.anchors {
  display: block;
  background-color: orange; 
  list-style-type: none;
  text-align: center;
  margin: auto;
  padding: 30px;
  height: 20px;
  font-size: 30px;
  place-items: center;
  word-spacing: 20px;
  color: black;
  border-style: double;
}
  
.body {
  margin: 25px 50px;
  background-color: rgba(255, 157, 0, 0.192);
  border-style: ridge;
}

p, h2, ul, h4 {
  margin: 20px;
}

table, th, td {
  border:solid 2px black;
  padding: 15px;
  text-align: left;
  border-collapse: collapse;
  margin: 60px;
  background-color: white;
  font-size: small;
}

th {
  background-color: orange;
}


